<configuration scan="true">
	<springProperty name="app-name" source="spring.application.name" />
	<springProperty name="app-timezone" source="application.timezone" />
	<springProperty name="app-orgEntity" source="application.orgEntity" />
	<springProperty name="app-version" source="application.version" />
	<springProperty name="app-environment" source="application.environment" />
	<springProperty name="app-type" source="application.type" />
	<springProperty name="app-retention" source="application.retention" />
	<springProperty name="app-token" source="application.token" />

	<property name="patternPlainText"
		value="%date{yyyy-MM-dd HH:mm:ss.SSSXXX} | %-5level | %X{IP} | %X{HostName} | ${app-name} | %X{X-B3-TraceId:-} | %X{X-B3-SpanId:-} | %X{UserId} | %X{Marker} | %c{36} | %msg%n" />

	<!-- Appender to console for local use only -->
	<appender name="console"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${patternPlainText}</pattern>
		</encoder>
	</appender>

    <springProfile name="local">
		<root level="INFO">
			<appender-ref ref="console" />
		</root>
	</springProfile>

	<springProfile name="dev">
		<root level="INFO">
			<appender-ref ref="console" />
		</root>
	</springProfile>

	<!-- Log dans les deux formats en qual tant que MonitoringNG n'est pas généralisé -->
	<springProfile name="qual">
		<root level="INFO">
			<appender-ref ref="console" />
		</root>
	</springProfile>

	<springProfile name="prod">
		<root level="INFO">
			<appender-ref ref="console" />
		</root>
	</springProfile>

    <!-- https://logback.qos.ch/manual/configuration.html#shutdownHook and https://jira.qos.ch/browse/LOGBACK-1090 -->
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>
</configuration>